body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #4f5074;
}
h1 {
    color: rgb(1, 1, 18);
    text-align: center;
}

.input-container {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.button-container {
    margin: 10px;
    padding: 5px;
    text-align: center;
    background-color: #6561de;
    color: #ffffff;
}

table {
    border-collapse: collapse;
    width: 100%;
    
}

table,
th,
td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
    margin-top: 12px;
}

th {
    background-color: #6561de;
}

@media (max-width: 768px) {
    body {
        align-items: flex-start;
        padding: 10px;
    }

    .input-container {
        width: 70vw;
        margin-right: 10px;
    }

    .button-container {
        margin: 10px 0;
    }

    table,
    th,
    td {
        font-size: 14px;
    }
}